<?xml version="1.0"?>

<model>
  <name>Mini Dog</name>
  <version>1.0</version>
  <sdf version="1.7">mini_dog_model.sdf</sdf>

  <author>
    <name>Cameron Coombe</name>
    <email>cameron.coombe@optusnet.com.au</email>
  </author>

  <description>
    Nova SM3 Mini Dog simulation model for QUT Robotics Club
  </description>
</model>
